.button {
  justify-content: center;
}
.selection {
  width: 20%;;
}
.card {
  background-color: #82AAE3;
  border-radius: 30px;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.action {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.king {
  text-align: center;
  max-width: 30%;
}
.comment {
  padding-top: 50px;
  text-align: center;
  position: relative;
}
.introduce {
  
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 50%;
}
.basic {
  text-align: center;
}
.page {
  flex-wrap: wrap;
  height: 100vh;
  background-color: white;
}