.action {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.comment {
    padding-top: 50px;
    text-align: center;
    position: relative;
}
.winnerhodu {
    max-width: 20%;
}
.kinghodu {
    width: 40%;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    border: 20px solid white;
    box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, 0.5); 
}
.kinghodu:hover {
    transform: scale(1.1);
}
.vsImg {
    flex: 1;
    overflow: hidden;
    padding-bottom: 30px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}
.title2 {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 100px;
    margin: 30px;
    color: #46a8f3
}
.basic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.card {
    border-radius: 30px;
    width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%,-50%);
  
  }
.page {
    flex-wrap: wrap;
    height: 100vh;
    background-color: #EAFDFC;
    background-image: url(/public/img/worldcupImg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
.name{
    margin-top: 70px;
    font-size: 30px;
}


